.btn{
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
}
.card1{
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
}
.card2{
    box-shadow: 10px 8px 0px -2px rgba(0, 0, 0, 0.75);
}
.card3{
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
}